STACK_NAME=${STACK_NAME}
TZ=${TZ}
PUBLIC_WEBUI_HOST=${PUBLIC_WEBUI_HOST}
PUBLIC_N8N_HOST=${PUBLIC_N8N_HOST}
OLLAMA_BIND=${OLLAMA_BIND}
QDRANT_BIND=${QDRANT_BIND}
POSTGRES_BIND=${POSTGRES_BIND}
WEBUI_PORT=${WEBUI_PORT}
N8N_PORT=${N8N_PORT}
POSTGRES_DB=${POSTGRES_DB}
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
